.map-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back-button{
    --border-radius: 20px;
    font-size: 20px;
    width: 10px;
    margin: 10px;
    --ion-color-contrast: black !important;
}

ion-modal-100{
    top:100px !important;
}

.z{
    z-index: 200;
    position: absolute;
}
